<!DOCTYPE html>
<html lang="en">

<head>
  <title>Server<%= process.env.NODE_ENV === 'production' ? '' : '(dev)' %></title>
  <meta charset="utf-8">
  <meta name="viewport" content="minimum-scale=1, initial-scale=1, width=device-width, shrink-to-fit=no" />
  <!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/react@17.0.2/umd/react.production.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/react-dom@17.0.2/umd/react-dom.production.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/prop-types@15.7.2/prop-types.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/react-router-dom@5.2.0/umd/react-router-dom.min.js"></script>
  <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/immer@5.2.1/dist/immer.umd.min.js"></script> -->
  <link rel="shortcut icon" href="favicon.ico">
  <link type="text/css" rel="stylesheet" href="global.css" />

<body>
  <noscript>
    You need to enable JavaScript to run this app.
  </noscript>
  <div id="root"></div>
</body>

</html>
